/* custom-boton {
    width: max(300px, 100%);
} */

.btn {
    appearance: none;
    border: 0;
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-blanco-1);
    font-size: 1rem;
    font-family: var(--font-secundaria-bold);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s ease-in-out all;
    position: relative;
    text-decoration: none;

    &.primario {
        background: var(--color-azul-2);
        color: var(--color-blanco-1);

        &:disabled{
            background:var( --color-azul-5);
        }
    }

    &.secundario {
        background: var(--color-blanco-1);
        color: var(--color-azul-2);
        border: 1px solid var(--color-azul-2);

        &:hover {
            background: var(--color-azul-3);
        }
    }

    &.secundario-icon {
        background: var(--color-blanco-1);
        color: var(--color-azul-2);
        border: 1px solid var(--color-azul-2);
        column-gap: 12px;

        &::after {
            content: url(../img/arrowright.svg);
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 32px;
        }
    }

    &.secundario-icon-left {
        background: var(--color-blanco-1);
        color: var(--color-azul-2);
        border: 1px solid var(--color-azul-2);
        column-gap: 0.75rem;

        &::before {
            content: url(../img/arrowleft.svg);
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 32px;
        }
    }
}

@media (min-width: 768px) {
    .btn {
        width: auto;
        min-width: 160px;

        &.secundario-icon::after {
            position: relative;
            right: auto;
        }
        &.secundario-icon-left::before {
            position: relative;
            left: auto;
        }
    }
}
