@font-face {
    font-family: "Circular Std";
    src: url(../fonts/CircularStd-Book/CircularStd-Book.eot);
    src: local("@"),
        url(../fonts/CircularStd-Book/CircularStd-Book.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Circular Bold";
    src: url(../fonts/CircularStd-Bold/CircularStd-Bold.eot);
    src: local("@"),
        url(../fonts/CircularStd-Bold/CircularStd-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url(../fonts/HelveticaNeue/HelveticaNeue.eot);
    src: local("@"),
        url(../fonts/HelveticaNeue/HelveticaNeue.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Helvetica Bold";
    src: url(../fonts/HelveticaNeue/HelveticaNeueBold.eot);
    src: local("@"),
        url(../fonts/HelveticaNeue/HelveticaNeueBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
