.main-ayuda {
    .faqs {
        padding: 40px 0 160px;

        .row {
            row-gap: 24px;
        }

        &--header {
            row-gap: 16px;
            display: grid;

            p {
                @include text-md-20;
            }
        }

        .title-underline {
            color: var(--color-azul-2);
            margin-top: 8px;
            @include text-lg-32;
        }
    }
}

@include media-breakpoint-up(lg) {
    .main-ayuda {
        .faqs {
            padding: 64px 0;
            h1 {
                br {
                    display: none;
                }
            }

            .row {
                row-gap: 64px;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-ayuda {
        .faqs {
            padding: 96px 0;

            .title-underline {
                @include text-lg-48;
            }

            .row {
                row-gap: 40px;
            }
        }
    }
}
