@media (min-width: 1280px) {
    .section-hero {
        padding: 2.125rem 0;

        &--bonificacion {
            flex-direction: row;
            margin: 3rem auto;
            gap: 1.5rem;
            font-size: 1.25rem;
            line-height: 1.75rem;

            .badge--image {
                display: block;
            }
            .badge--image2 {
                display: none;
            }
        }
    }

    .promociones {
        padding: 6rem 0;

        .custom-container{
            padding-left:96px;
            padding-right:96px;
        }
        .row > div:first-child{
            // border: 1px solid green;
            padding-left:12px;
            padding-right:12px;
        }
        &--info {
            font-size: 2.9375rem;
            line-height: 3.1875rem;
        }
        .container-carrusel {
            margin-top: -6.875rem;
        }
        &--carrusel {
            display: grid;
            gap: 2.5rem;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            overflow-x: auto;
            height: auto;

            .col-xl-8 {
                width: 100%;
            }
            div.col-xl-8:first-child {
                padding-top: 8rem;
            }
            div.col-xl-8:last-child {
                padding-bottom: 8rem;
            }
            div:nth-child(odd) {
                grid-column: 2/4;
            }
            div:nth-child(even) {
                grid-column: 4/6;
            }
        }
    }

    .efectivo {
        padding: 6rem 0 0 0;
        .row:first-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            // align-items: center;
        }
        .row {
            justify-content: start;
        }
        &--image {
            overflow: hidden;
            padding: 0;
            position: relative;
            right: -120px;
            grid-column: 2/3;
            grid-row: 1/3;

            picture {
                height: 576px;
                border-radius: 80px 0px 0 80px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: -300px center;
                }
            }

            .img-desktop {
                display: block;
                height: 100%;
            }
        }
        &--info {
            grid-column: 1/2;
            grid-row: 1/3;
            width: auto;
            padding-top: 6.25rem;
            text-align: left;

            h2 {
                font-size: 2.937rem;
                line-height: 3.187rem;
            }
            p {
                margin: 3rem 0 2.5rem 6rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
            /* a {
                display: none;
            } */
            a {
                display: inline-block;
                margin-left: 6rem;
            }
        }
        .alert--card {
            margin-top: 0;
            width: 66%;
            position: relative;
            bottom: 3rem;
        }
    }

    .main-promo {
        padding: 40px 0 0;
        .col-12 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 110px;
            margin-top: 64px;
        }

        &--info {
            margin-top: 0;
            grid-row: 1/1;
            place-content: baseline;
        }

        .img-codigo {
            order: 2;
            align-self: flex-end;
            width: 70%;
        }

        .img-promo {
            grid-row: 1/3;
            width: 500px;
        }

        &--legales {
            margin-top: 96px;
        }
    }

    .calculadora{
        padding: 6rem 0;  
        
    
        &--info {               
            
            h2 {
                color: var(--color-azul-2);
                @include text-lg-48;
                text-align: center;
            }
            .title-underline {
                place-items: center;
            }
    
            p{
                color: var(--color-gris-1);
                margin: 1rem 0 3rem 0;
                @include text-md-20;               
                text-align: center;
            }
        }
        &--formulario{
            text-align: left;
        }

        &--simulador{
            // border: 1px solid yellow;
            border-radius: 1.5rem;      
            box-shadow: var(--shadow-blue);
            padding: 2rem 2.5rem;
    
            picture{
                display: inline-block;
                border-radius: 50%;
                padding: 12px;
                background: var(--state-info-100);
                img{
                    width: 32px !important;
                    height: 32px !important;
                }
            }
    
            p{
                font-family: var( --font-primaria-bold);
                @include text-md-20;  
               
            }

            label{
                font-family: var(--font-secundaria-regular);
                color: var(--neutral-gris-400);
                @include text-sm-16;
            }
           
            
           
            
        }

        &--resultados{
            border-radius: 0px 24px 24px 0;
            display:flex;

            .datos-entrada{
                padding:32px 40px;
                border-radius: 24px 0 0 24px;
                @include  text-md-24;
                flex-basis: 40%;
            }
            .detalles{
                padding: 64px 40px;
                display: grid;
                column-gap:24px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto 1fr;

                .info {
                  
                    &-fecha{
                                  
                        @include  text-md-20;
                    }
                    &-cantidad{
                        
                        @include text-lg-32;
                        margin: 0.5rem 0 1.5rem 0;  
                    }
                    &.aviso{
                        font-family: var(--font-secundaria-regular);
                        @include text-sm-14; 
                    }
                }


                .detalle{
                    margin:0;
                    grid-column:2/3;
                    grid-row: 1/ -1;

                    &-subtitulo{
                                    
                        @include  text-md-20;
                        margin-bottom: 1rem;
                    }
                    &-descripcion{
                        font-family: var(--font-secundaria-regular);
                        @include text-sm-16; 
                    }
                    &-cantidad{
                        
                        @include  text-md-20;
                    }
                    &-separador{
                       
                        margin: 16px 0;
                    }
                   
                }

                .acciones{
                   align-self: end;
                   justify-self: start;
                }
            }

           

        }
    
        &--fecha{
            margin-top: 1.5rem;
        }
    }

    .informacion{
        padding: 6rem 0; 
        &--info {               
            
            h2 {
                color: var(--color-azul-2);
                @include text-lg-48;
                text-align: center;
            }
            .title-underline {
                place-items: center;
            }
    
            p{
                color: var(--color-gris-1);
                margin: 1rem 0 3rem 0;
                @include text-md-20;               
                text-align: center;
            }
        }
    
        &--infocards{

            
          
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 1fr 1fr;

            .card{
                height: 100%;
            }

            .calendario, .lady, .tdc{
                display: block;
            }

            #fecha-limite-pago{
                grid-column:3/4;
                grid-row: 2/3;
            }

            .tdc{
                grid-column: 4/5;
                grid-row:2/3;
            }
            .calendario{
                grid-column: 1/3;
                grid-row: 2/3;
            }

            .lady{
                grid-column: 3/5;
                grid-row: 1/2;
            }
        }
    }

    .terminos{
        p.cantidades, p.banca {
            font-family: var(--font-primaria-regular);
            @include text-md-20;
        }
    }
}
