.main-miapp{
    background: var(--color-azul-3);
    overflow: hidden;
    .section-hero{
       
        padding:2.5rem 0;
        background: var(--color-blanco-1);
        border: 0 0 16px;
    }
    .compras{
        padding: 4rem 0;
        &--info{
            h2 {
                @include text-lg-32;
                color: var(--color-azul-2);
            }

            p{
               margin: 1rem 0 1.5rem 0; 
               @include text-sm-18;
            }

        }

        &--carousel{
            flex-flow: row nowrap;
            gap: 1rem ;           
            // overflow-x: auto;
            padding-right: 0;
            
           
            .swiper-slide{
                width: 284px;
                // margin-right:1rem;
            }
            .swiper-slide:first-child{
                
                margin-left:24px;
            }

            .swiper-slide:last-child{
                
                margin-right:24px;
            }

            .swiper-slide:nth-child(4){
                
                display: none;
            }
            
            // & div:first-child{
            //     // outline: 1px solid peru;
            //     padding-left: 0;
            // }
           
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
                width: 48px;
                height: 48px;
                background: var(--color-blanco-1);
                border-radius: 50%;
                padding: 12px;
                 text-align: center;
    
                &::after {
                    color: var(--color-azul-2);
                    font-size: x-large;
                }
            }
    
            .swiper-wrapper{
                margin-bottom: 64px;
            }

            
        }

        .paso{
            // border: 1px solid rebeccapurple;
            width: fit-content;
           
            &--imagen{
                text-align:center;
                img{
                    width: auto;
                    height: 324px;
                }
            }
            &--details{
                // outline: 1px solid red;
                width: 17.75rem;
                height: 8.375rem;
                background: var(--color-blanco-1);
                border-radius: 1rem;
                padding: 1rem 1.5rem;
                display: flex;
                align-items: center;
                gap:1rem;

                .contador{                    
                    background: var(--color-azul-2);
                    border-radius:100px;
                    padding:10px;
                    color: var(--color-blanco-1);
                    text-align: center;
                    flex: 1 0 40px;
                }

                .instruccion{
                    @include text-sm-16;
                    span{
                        font-family: var(--font-primaria-bold);
                    }
                }
            }
        }

    }
    .terminos-app{
        background: var(--color-blanco-1);
       
        &--info{
            padding:  4rem 1.5rem;
            p{
                @include text-sm-18;               
                font-family: var(--font-primaria-regular);
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .compras{

        &--carousel{
            gap: 1.5rem !important;
            // .swiper-slide{
            //     width: auto;
            //     margin-right:24px;
            // } 

            .swiper-slide:first-child{
                
                margin-left:88px !important;
            }
        }
        &--info{
           text-align: center;
           .title-underline {
            place-items: center;
            }

        }

    }
    
}
@include media-breakpoint-up(xl) {

    .compras{
        overflow: hidden;
        padding: 6rem 0;
        &--info{
           h2.title-underline{
             @include text-lg-48;
           }
           p{
            margin: 1rem 0 2.5rem 0; 
            @include text-md-20;
         }
 
        }

        &--carousel{
          
            width: 90%;
            padding:0 128px;
            height: 600px;
            margin: 0 auto 1rem auto;
            // padding-left: 128px;
          
            position: relative;
           
            
           
            .swiper-pagination{
                display: none;
            }
            .swiper-slide:first-child{
                
                margin-left:0 !important;
            }            

            .swiper-slide:last-child{
                
                margin-right:0 !important;
            }
            
            .swiper-button-next,
            .swiper-button-prev {
                // border: 1px solid red;
                position: absolute;
                display: block !important;
            }

            .swiper-slide {
                width: auto;
                flex: 0 1 428px;
            }
            .swiper-slide:nth-child(2){
                padding-top: 100px;
            }
            .swiper-slide:nth-child(3){
                padding-top: 60px;
                
            }
            .swiper-slide:nth-child(4){
                
                display: block !important;
                visibility: hidden !important;
            }
            .swiper-slide:nth-child(5){
                padding-top: 15px;
                // padding-left: 64px;
            }
            .swiper-slide:nth-child(6){
                
                padding-top: 75px;
               
            }
            .swiper-button-next {
                top: 250px;
            }
            .swiper-button-prev {
                top: 250px;
            }
    
        }
        .paso{  
             
            &--details{   
                width: 284px !important;
                height: auto !important;
                
                p.instruccion{
                
                   font-size: 20px !important;
                   line-height: 28px !important;                
                }
            }
        }
    }

    .terminos-app{
       
       
        &--info{
            padding:  6rem;
            p{
                font-size: 1.25rem !important;
                line-height: 1.75rem !important;            
               
            }
        }
    }
}

@include media-breakpoint-up(xxl) {

    .compras{
       
        padding: 6rem 0 !important;
      

        &--carousel{
            // padding:0 3rem;
            width: 85%;
            padding:0 185px;
            height: 600px;
            margin: 0 auto 1rem auto;
            // padding-left: 128px;
            // position: relative;           
            // top: 250px;
            }
    
    }
        
    
    
}


@media (min-width:1920px) {

    .compras{
      
        &--carousel{
            width: 75%;
          
            // padding:0 3rem;
            padding:0 160px;
            height: 600px;
            margin: 0 auto 1rem auto;
           
            }
    
    }
       
}

@media (min-width:2560px) {

    .compras{     

        &--carousel{
            width: 60%;
          
            padding:0 160px;
            
            }    
    }
        
}




