.app {
    padding: 1.5rem 0 4rem 0;
    text-align: center;
    background: var(--color-blanco-1);

    &--instrucciones {
        display: none;
    }
    &--mockup {
        .image {
            display: inline-block;
            vertical-align: middle;
            // border-radius: 64px;
            border-radius: 2.5rem;
            overflow: hidden;
            height: 270px;
            width: 100%;

            img {
                width: 100%;
                object-position: center -40px;
                object-fit: cover;
                height: 100%;
            }
        }
        .qr {
            display: none;
        }
    }
    &--info {
        margin-top: 2rem;
        h2 {
            color: var(--color-azul-2);
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .title-underline {
            place-items: center;
        }
        p {
            margin: 1rem 0;
            font-size: 1.125rem;
            line-height: 1.625rem;
        }

        custom-boton button.primario{
            width: 100%;
        }
    }

    &--terminos{
        margin-top: 4rem;
        p{
            @include text-sm-18;
            font-family: var(--font-primaria-regular);
        }
    }


}

@include media-breakpoint-up(lg) {
    .app {
        padding: 4rem 0;
        // .title-underline {
        //     place-items: start;
        //     text-align: left;
        // }

        .row {
            justify-content: center;
        }

        &--instrucciones {
            display: flex;
            align-items: center;
            padding: 1.5rem;
            gap: 1rem;
            border-radius: 1.5rem;
            background: var(--color-blanco-1);
            box-shadow: 0px 4px 48px 0px rgba(95, 171, 221, 0.16);
            position: relative;
            bottom: 2.5rem;

            picture {
                border-radius: 2.5rem;
                background: var(--state-info-100);
                padding: 0.75rem;
                width: 2.75rem;
                height: 2.75rem;
            }

            p {
                text-align: left;
            }
        }

        &--mockup {
            .img--container {
                position: relative;
            }
            .image {
                height: 26.25rem;

                img {
                    width: 100%;
                    object-position: left;
                }
            }
            .qr {
                width: 14rem;
                height: 14rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--color-blanco-1);
                border-radius: 16.25rem;
                position: absolute;
                right: -60px;
                top: 55px;
                box-shadow: 0px 4px 48px 0px rgba(95, 171, 221, 0.16);


                // img {
                //     width: 14rem;
                //     height: 14rem;
                // }
            }
        }

        &--info {
            margin-top: 1.5rem;

            h2 {
                text-align: left;
            }
            .title-underline {
                place-items: start;
            }
            p {
                margin: 1.5rem 0;
                text-align: left;
            }
            custom-boton button.primario{
                width: auto;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .app {
        padding: 0;

        .row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;
            align-items: center;
        }
        &--instrucciones {
            width: auto;
            padding: 1.5rem 2rem;
            right: 235px;
            gap: 1.5rem;
            bottom: 6rem;

            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
        &--mockup {
            grid-column: 1/2;
            grid-row: 1/3;
            height: 100%;
            .img--container {
                position: relative;
                left: -96px;
            }
            .image {
                height: 100%;
                border-radius: 64px 64px 64px 0;

                img {
                    object-position: center;
                }
            }
            .qr {
                width: 16.25rem;
                height: 16.25rem;
                top: 25px;
                right: -90px;
                // img {
                //     width: 16.25rem;
                //     height: 16.25rem;
                // }
            }
        }

        &--info {
            grid-column: 2/3;
            grid-row: 1/2;
            width: auto;
            padding-top: 6rem;
            margin-top: 0;

            h2 {
                font-size: 47px;
                line-height: 51px;
            }
            p {
                margin: 3rem 0;
                padding-left: 6rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
            a {
                display: none;
            }
        }
    }
}
