.promociones-grid {
    overflow-y: initial;
    margin: 2.625rem auto;

    .swiper-wrapper {
        align-items: stretch;
    }
    .swiper-slide {
        width: 288px;
        /* display: flex;

        custom-card {
            display: flex;
            align-items: stretch;

            a {
                display: flex;
                align-items: stretch;
            }
        } */
    }
    .swiper-slide:first-child {
        margin-left: 24px;
    }
    .swiper-slide:last-child {
        margin-right: 24px;
    }

    .swiper-pagination {
        position: relative;
    }
}

@media (min-width: 1280px) {
    .promociones-grid {
        margin: auto;

        .swiper-wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            column-gap: 24px;
            row-gap: 52px;

            .swiper-slide {
                width: auto;
                flex: 0 1 395px;
                margin: 0;

                &:first-child {
                    margin-top: 80px;
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }

                &:is(:nth-child(4n)) {
                    margin-top: -102px;
                }

                &:last-child:not(&:nth-child(2), &:nth-child(1)) {
                    margin-top: -102px;
                }
            }
        }
        .swiper-pagination {
            display: none;
        }
    }
}
